<launch>
  <group ns="bigredrobot">
      <node name="main" pkg="bigredrobot_final" type="main.py" />
      <node name="robot_interface" pkg="bigredrobot_final" type="robot_interface.py" />
      <node name="block_stacker" pkg="bigredrobot_final" type="block_stack.py" />
      <node name="main" pkg="bigredrobot_final" type="overhead_camera.py" />
  </group>
</launch>
