<launch>
      <node name="brr_main" pkg="bigredrobot_final" type="main.py" />
      <node name="brr_robot_interface" pkg="bigredrobot_final" type="robot_interface.py" />
      <node name="brr_block_stacker" pkg="bigredrobot_final" type="block_stack.py" />
      <node name="brr_overhead_camera" pkg="bigredrobot_final" type="overhead_camera.py" />
</launch>
